@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');


.header{
    text-align: center;
}
.title-page h1{
    font-family: 'Fascinate Inline', cursive;
    font-size: 64px;
}
.main-links{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}
.main-links a{
    text-decoration: none;
}