@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

h1{
    font-family: 'Fascinate Inline', cursive;
    font-size: 64px;
}
h2{
    font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
    font-size: 48px;
}
h3{
    font-size: 42px;
    font-family: 'Sedgwick Ave', cursive;
}
h4{
    font-family: 'Sedgwick Ave', cursive;
    font-size: 36px;
}
h5{
    font-family: 'Sedgwick Ave', cursive;
    font-size: 30px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}


.header{
    text-align: center;
}

.cc-section p{
    font-size: 42px;
}

.main-links{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
}
.main-links a{
    color: #5c6bc0;
    text-decoration: none;
}
.main-links a:visited{
    color: #5c6bc0;
}