body{
    height: 2000px;
}

.header img{
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.section-header{
    padding-top: 3%;
}

 /* ---------------- MAIN TITLE  ---------------- */
#title-page{
    padding-top: 15%;
    height: 100vh;
    background-color: #ffebee;
}

 /* ---------------- CS1200 LESSONS ---------------- */
#cs1200-lessons{
    background-color: #e1bee7;
}
.cs1200-section{
    overflow: auto;
    margin-right: 3%;
    margin-left: 3%;
}
.left-img{
    float: left;
    width: 500px;
    margin-right: 3%;
}
.right-img{
    float: right;
    width: 500px;
    margin-left: 3%;
}
.center-img{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 /* ---------------- CAMPUS CONNECTIONS ---------------- */
#campus-connections{
    background-color: #bbdefb;
}
#campus-connections p{
    margin-right: 15%;
    margin-left: 15%;
}
#NUHacks img{
    width: 300px;
}

 /* ---------------- SAIL ATTRIBUTES ---------------- */
#SAIL{
    background-color: #ffecb3;
}

 /* ---------------- FRESHMAN ADVICE  ---------------- */
#freshman-advice{
    background-color: #ffccbc;
}


/* -- TEXT ANIMATION STUFF *BEGIN* -- */
.main-links a{
    padding: 10px;
    opacity: 0;
    -webkit-animation: fadein 2s ease-in 1s forwards;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s ease-in 1s forwards;
    /* Firefox < 16 */
    -ms-animation: fadein 2s ease-in 1s forwards;
    /* Internet Explorer */
    -o-animation: fadein 2s ease-in 1s forwards;
    /* Opera < 12.1 */
    animation: fadein 2s ease-in 1s forwards;
}

#title-page h1 {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;

}
#title-page h2 {
    -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s;
    /* Firefox < 16 */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera < 12.1 */
    animation: fadein 4s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* -- TEXT ANIMATION STUFF *END* -- */